* {
  margin: 0;
}

body {
  font-family: "Merriweather", serif;
  width:100%;
}

img {
  width: 100%;
}

h1 {
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-size: 36px;
  padding-bottom: 20px;
}

h2 {
  font-weight: bold;
  color: #9a9a9a;
  text-align: center;
  font-size: 19px;
  padding-bottom: 25px;
}

main {
  max-width: 70%;
  text-align: left;
  margin-left: 27%;
  margin-right: 27%;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #000000;
  padding: 25px;
}

p {
  margin-bottom: 20px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.woman {
  width: 50%;
  float: left;
  margin-right: 10px;
}
