* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin: 0, auto;
  max-width: 1550px;
}

a {
  color: #2584e5;
  text-decoration: none;

}

a::hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
}

.sidebar {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 6%, #f6f6f6 10%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 6%,#f6f6f6 10%,#f6f6f6 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 6%,#f6f6f6 10%,#f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
  font-size: 12px;
  height: auto;
  line-height: 18px;
  margin: 0;
  padding: 0;
  width: 175px;
}

.wikilogo {
  height: 155px;
  margin: 10px 10px 10px 20px;
  width: 135px;
}

.grey {
  color: #aaaaaa;
  margin: 5px 5px 5px -15px;
}

.sidebar ul {
  border-bottom: 1px solid #aaaaaa;
  list-style: none;
  margin: 0;
  padding:10px 25px;
  width: 115px;
}

.language > ul {
  border-bottom: none;
}

header {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 55%, #f7f7f7 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 55%,#f7f7f7 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 55%,#f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
  height: 80px;
  width: 100%;
}

.header-first-line {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.header-nav1 {
  display: flex;
  flex-direction: row-reverse;
}

.log a , .read a {
  color: #000000;
}

.login, .create-account, .contributions, .talk, .log {
  font-size: 12px;
  line-height: 15px;
  margin: 5px;
}

.header-second-line {
  display: flex;
  justify-content: flex-end;
}

.header-nav2 {
  display: flex;
}

.search > input {
  width: 350px;
}

.view-history, .edit, .search, .read {
  border-left: 1px solid #a7d7f9;
  font-size: 12px;
  margin: 5px;
  padding-left: 5px;
}

.wiki-article, .talk2 {
  border-right: 1px solid #a7d7f9;
  float: left;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 5px;
  position: relative;
  top: 10px;
}

.wiki-article {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #a7d7f9;
  padding-left: 15px;  
}

.wiki-article a {
  color: #000000;
}

main {
  height: 100%;
  width: 100%;
  margin: auto;
  border-top: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  border-bottom: 1px solid #a7d7f9;
  padding: 20px 20px;
  line-height: 22px;
}

.main-intro-box {
  margin-bottom: 20px;
}

h1 , h2 {
  font-family: times;
  font-size: 29px;
  font-weight: normal;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
}

h2 {
  font-size: 21px;
}

h3 {
  margin-bottom: 5px;
  padding-bottom: 10px;
}

p {
  margin-top: 10px;
}

.submarge {
    font-size: 13px;
    margin-bottom: 30px;
}

.intro, .early-life, .sage-project-box, .nasa, .apollo11, .businesses, .legacy, .awards, .personal-life, .publications  {
  margin: 10px 0 20px 0;
}

.p-with-tab {
  padding: 10px 20px 10px 40px;
}

.quote {
  padding-left: 60px;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.contents {
  width: 125px;
  height: 265px;
  background: #E8F2F8;
  border: 1px solid #aaaaaa;
  padding: 5px;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #252525;
  background: -moz-linear-gradient(top,  #f9f9f9 0%, #f9f9f9 100%);
  background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f9f9f9 100%);
  background: linear-gradient(to bottom,  #f9f9f9 0%,#f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 );
}

.contents ul {
  list-style-type: none;
}

.margeabsolute {
  width: 260px;
  height: 500px;
  border: 1px solid #aaaaaa;
  background: #e8f2f8;
  float: right;
  padding: 5px;
  margin: 15px 5px 40px 10px;
  font-size: 15px;
  line-height: 17px;
  color: #252525;
  text-align: center;
  float: right;
  background: -moz-linear-gradient(top,  #f9f9f9 0%, #f9f9f9 100%);
  background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f9f9f9 100%);
  background: linear-gradient(to bottom,  #f9f9f9 0%,#f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 );
}

.margeabsolute-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  margin: 10px;
}

.margeabsolute-container {
  display: flex;
  justify-content: space-between;
}

.margeabsolute-box-A {
  width: 70px;
  height: 100%;
  font-weight: bold;
  font-size: 12px;
}

.margeabsolute-box-B {
  width: 180px;
  height: 100%;
  margin-left: 5px;
}

.nasa-box-picture, .apollo11-box-picture, .legacy-box-picture{
  border: 1px solid #aaaaaa;
  background: #f9f9f9;
  float: right;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  line-height: 17px;
  color: #252525;
}

.nasa-box-picture {
  width: 220px;
  height: 220px;
}

.apollo11-box-picture {
  width: 230px;
  height: 350px;
}

.legacy-box-picture {
  width: 180px;
  height: 280px;
}

footer {
  width: 100%;
  height: 100%;
  font-size: 11px;
  line-height: 22px;
  padding-left: 20px;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 6%, #f6f6f6 10%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 6%,#f6f6f6 10%,#f6f6f6 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 6%,#f6f6f6 10%,#f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

.footerbuttons {
  position: relative;
  right: 30px;
  bottom: 20px;
}

.mediawiki {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  float: right;
  background-image: url(image6.png);
}

.wikibutton {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  float: right;
  background-image: url(image5.png);
  margin-left: 10px;
}
