body {
    background-color: #479608;
}

.yodabox {
    width: 900px;
    height: 400px;
    background-image: url('jedi.png');
    background-position: center;
    margin-top: 100px;
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
};

.input_field {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
};
