body {
  margin: 0px;
  letter-spacing: 0.6px;
  font-weight: lighter;
  color: #a4c639;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #000000;
}

header {
  height: 250px;
  font-family: "Abril Fatface", cursive;
  background-image: url("");
  background-color: #a4c639;
  background-size: cover;
  margin-bottom: 60px;
  margin-top: 0px;
}

h1 {
  margin: 0px;
  letter-spacing: 0.6px;
  font-weight: lighter;
  color: #222;
  padding-left: 290px;
  padding-top: 50px;
  font-size: 34px;
  line-height: 50px;
}

span {
  font-size: 2.1em;
}

section {
  font-family: "Josefin Sans";
  font-size: 18px;
  line-height: 18px;
  color: #a4c639;
  width: 685px;
  margin-left: 290px;
}

p {
  margin: 0px;
  letter-spacing: 1.6px;
  font-weight: lighter;
  color: #a4c639;
}

blockquote {
  width: 700px;
  padding: 50px;
  margin: 55px auto;
  background-position: center;
  background-color: #a4c639;
  font-size: 45px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}

h2 {
  padding-bottom: 30px;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 55px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

h3 h4 {
  margin: 0px;
  padding: 0px;
}

h3 p {
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.5em;
  margin: 30px 0px 40px 0px;
}

section > h4 {
  font-size: 16px;
  font-style: italic;
  font-family: "Abril Fatface", cursive;
}

hr{
  width:715px;
  border: 2px solid;
}

img {
  width: 20%;
  height: 20%;
}
