body {

}

img {
  width:100%;
}

header {
  width:auto;
  height: auto;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("anakin.png");
}

section {
  width: 50%;
  font-family: 'Abril Fatface', cursive;
}

p {

}

ul {

}

li {

}

blockquote {

}

h1 {

}

h2 {

}

h3 {

}
