body {
  margin: 0;
  letter-spacing: 0.6px;
  font-weight: lighter;
  color: #222;
  padding-left: 150px;
  padding-right: 150px;
}

header {
  height: 400px;
  font-family: "Abril Fatface", cursive;
  background-image: url("anakin.png");
  background-size: cover;
  margin-bottom: 60px;
  margin-top: 0px;
}

h1 {
  margin: 0;
  letter-spacing: 0.6px;
  font-weight: lighter;
  color: #222;
  padding-left: 290px;
  padding-top: 245px;
  font-size: 34px;
  line-height: 50px;
}

span {
  font-size: 2.1em;
}

section {
  font-family: "Josefin Sans";
  font-size: 18px;
  line-height: 18px;
  color: #222;
  width: 685px;
  margin-left: 290px;
}

p {
  margin: 0;
  letter-spacing: 1.6px;
  font-weight: lighter;
  color: #222;
}

blockquote {
  width: 700px;
  padding: 50px;
  margin: 55px auto;
  background-position: center;
  background-color: #444;
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  font-family: "Abril Fatface", cursive;
}

h2 {
  padding-bottom: 30px;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 55px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

h3 h4 {
  margin: 0;
  padding: 0;
}

h3 p {
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.5em;
  margin: 30px 0 40px 0;
}

section > h4 {
  font-size: 16px;
  font-style: italic;
  font-family: "Abril Fatface", cursive;
}

hr{
  width:715px;
  border: 2px solid;
}
