body {
  font-family: 'Roboto Slab', serif;
}

.wrapper {
  width: 640px;
  background: #DCD6CD;
  padding: 20px; 45
  font-size: 14px;
  margin: 0 auto;
}

header .form-container .intsubbut {
  padding: 10px 0 0 25px;
}

.form-container {
  display:flex;
  height: 100%;
}

header {
  color: #4A415E;
  font-size: 16px;
}

.personal-info-title .contact-title {
  box-sizing: border-box;
  width: 300px;
  background: #938C97;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

.personal-info-box .contact {
  width: 50%;
}

label {
  color: color: #574E67;
  font-size: 14px;
  margin-right: 5px;
}

span {
  color: red;
}

input, select, textarea {
  border: 1px solid #A8A1A5;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 5px 10px 0;
}

input#name {
  width: 300px;
}

.birthgender {
  display: flex;
}

.birth, .gender {
  width: 50%
}

.radio-buttons {
  padding: 10px;
}

input#birth {
  width: 80px;
  border: 1px solid;
  border-radius: 5px;
}

div.gender {
  margin: 0 10px;
}

.brand {
  margin-bottom: 10px;
}

.brandflex {
  display: flex;
}

.brand1, .brand2 {
  width: 50%;
}

.more {
  color: #BBB6B1;
  font-size: 14px;
}

.contact > input {
  width: 300px;
}

textarea {
  height: 165px;
  width: 100%;
  box-sizing: border-box;
}

.fileupload {
  display: none;
}

input[type="button"] {
  width: 220px;
  background: #F2F2F2;
}

.termsofuse {
  padding-top: 20px;
}

a {
  color: #574E67;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

button[type="submit"], button[type="reset"] {

  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.save {
  width: 220px;
  color: #E1DBD1;
  font-size: 18px;
}

.cancel {
  width: 160px;
  color: #574E67;
  font-size: 14px;
  float: right;
  position: relative;
  bottom: 30px;
}
