body {
  font-family: "Roboto Slab", serif;
}

.wrapper {
  width: 640px;
  background: #dcd6cd;
  padding: 20px;
  font-size: 14px;
  margin: 0 auto;
}

.red {
  color: #f00;
}

.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}

header .form-container .intsubbut	 {
  padding: 10px 0 0 25px;
}

header {
  color: #4a415e;
  font-size: 16px;
}

.form-container {
  display:flex;
}

.personal-info-box, .contact {
  display: flex;
  flex-direction: column;
}

.contact-title {
  padding-bottom: 20px;
}

label {
  color: color: #574e67;
  font-size: 14px;
  margin-right: 5px;
}

input, select, textarea {
  border: 1px solid #a8a1a5;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 5px 10px 0;
}

input#name {
  width: 300px;
}

.birthgender {
  display: flex;
}

.birth, .gender {
  width: 50%;
}

.radio-buttons {
  padding: 10px;
}

input#birth {
  width: 80px;
  border: 1px solid;
  border-radius: 5px;
}

div.gender {
  margin: 0 10px;
}

.brand {
  margin-bottom: 10px;
}

.brandflex {
  display: flex;
}

.brand1, .brand2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.more {
  color: #bbb6b1;
  font-size: 14px;
}

.contact > input {
  width: 300px;
}

textarea {
  height: 165px;
  width: 100%;
  box-sizing: border-box;
}

.fileupload {
  display: none;
}

input[type="button"] {
  width: 220px;
  background: #f2f2f2;
}

.termsofuse {
  padding-top: 20px;
}

a {
  color: #574e67;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

button[type="submit"], button[type="reset"] {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.save {
  width: 220px;
  color: #e1Dbd1;
  font-size: 18px;
}

.cancel {
  width: 160px;
  color: #574e67;
  font-size: 14px;
  float: right;
  position: relative;
  bottom: 30px;
}
