p {
    background-color: #FFFF00;
    border: 5px solid #010101;
    color: #002682;
    font-size: 30px;
    margin:0;
    padding: 20px;
    width: 240px;
}

.fruits, .vegetables {
    background-color: #008000;
    height:250px;
    margin: 10px;
    padding: 10px;
    width:290px;
}
