h1 {
  color: #000ec6;
}

h2 {
  color: #e49b32;
}

p {
  color: #000;
}

ul {
  color: #0000ff;
}

li {
  list-style-type: square;
}

.black {
  color: #000;
  list-style-type: disc;
}

.apple {
  color: #ff0000  ;
  list-style-type: disc;
}

.dec {
  list-style-type: decimal;
  color: #000;
}
