body{
    display: flex;
    justify-content:space-around;
    background-color: olive;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1, h3 {
    color: olive;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: lightgreen;
    width:600px;
    box-sizing: border-box;
    flex-direction: column;

}

.big_boxes, .mini_boxes, .mini_image_boxes {
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

img {
    height: 60px;
    width: 60px;
}

.pic_main img {
    height: 310px;
    width: 310px;
    padding: 5px;
    border: 5px solid olive;
}

img:hover {
    background-color: darkgreen;
    opacity: 0.3;
}

.main_bar img:hover {
    background-color: lightgreen;
    opacity: 0.3;
}

.mini_image_boxes img:hover {
    background-color: lightgreen;
    opacity: 0.3;
    border: 5px solid green;
    box-sizing: border-box;
}

.left_side_arrow, .right_side_arrow, .left_side_arrow_mini, .right_side_arrow_mini {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.left_side_arrow img, .right_side_arrow img {
    height: 50px;
    width: 50px;
}

.left_side_arrow_mini img, .right_side_arrow_mini img {
    height: 20px;
    width: 20px;
}

.left_side_arrow img:hover, .left_side_arrow_mini img:hover , .right_side_arrow img:hover, .right_side_arrow_mini img:hover {
    background-color: lightgreen;
    opacity: 0.7;
}

button {
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   cursor:pointer;
   outline:none;
   overflow: hidden;
}
