.wrapper {
  box-sizing: border-box;
  max-width: 600px;
  margin: 10px 200px 10px 200px;
}

header, footer {
  width: 540px;
  height: 100px;
  position: relative;
}

header {
  background-color: #00FFFF;
  top: 50px;
  left: 350px;
}

footer {
  background-color: #001AFE;
  top: -950px;
  left: 350px;
}

.left-sidebar, .right-sidebar {
  height: 500px;
  width: 100px;
  position: relative;

}

.left-sidebar {
  background-color: #FEA500;
  top: 50px;
  left: 350px;
}

.right-sidebar {
  background-color: #671A99;
  top: -950px;
  left: 790px;
}

main {
  background-color: #FE0000;
  width: 300px;
  height: 500px;
  position: relative;
  top: -450px;
  left: 470px;
}

.blackbox {
  background-color: #000000;
  width: 50px;
  height: 50px;
  position: relative;
  top: 430px;
  left: 230px;
}
